@import "../Utils/mixin";
@import "../Utils/variables";


//loading spinner
@keyframes disparition {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes apparition {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}


// apparition page menu 

@keyframes transitionMenu {
  0%{
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

.fa-heart{
  -webkit-transition: background-color 1s ease-in, color ease-out 1s;
  transition: background-color 1s ease-in, color ease-out 1s;
  &:hover{
    background-image: -webkit-gradient(linear, right bottom, left top, from($primaryColor), color-stop(70%), to($secondaryColor));
    background-image: linear-gradient(to top left, $primaryColor, 70%, $secondaryColor);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
  }
}

.card1{
  animation: transitionMenu ease-in-out 1s;
}
.card2{
  transition-delay: 2s;
  animation: transitionMenu ease-in-out 1s;
}
.card3{
  transition-delay: 4s;
  animation: transitionMenu ease-in-out 1s;
}
