@import "../Utils/mixin";
@import "../Utils/variables";


//loading spinner
@keyframes disparition {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes apparition {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}


// apparition page menu

@keyframes menu-deroulant{
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(45px);
  }
  100% {
    opacity: 1;
  }
}


.fa-heart{
  -webkit-transition: background-color 1s ease-in, color ease-out 1s;
  transition: background-color 1s ease-in, color ease-out 1s;
  &:hover{
    background-image: -webkit-gradient(linear, right bottom, left top, from($primaryColor), color-stop(70%), to($secondaryColor));
    background-image: linear-gradient(to top left, $primaryColor, 70%, $secondaryColor);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
  }
}
