// Déclaration du scc pour les btn de Découverte et de commandes
@import "../Utils/variables";
@import "../Utils/mixin";


.btn{
  color: white;
  background: linear-gradient($secondaryColor, $primaryColor);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  width: 60%;
  padding: 15px;
  border: none;
  cursor: pointer;
  @include border-radius(25px);
  &:hover{
    opacity: 0.9;
    @include box-shadow(5px 1px 5px 1px $shadowColor);
  }
}

#commande-Btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

