@import "animations";
@import "../Utils/variables";
@import "../Utils/mixin";

// Général

.fa-heart{
  font-size: 25px;
  color: white;
  text-shadow: black 1px 0, black -1px 0, black 0 1px, black 0 -1px;
}

// index
.titleRestaurant-like{
  margin: 0 15px 0 0;
}

