// Déclaration du scc pour les btn de Découverte et de commandes
@import "variables";
@import "mixin";


.btn{
  color: white;
  background: linear-gradient($secondaryColor, $primaryColor);
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 60%;
  padding: 15px;
  border: none;
  @include border-radius(25px);
}



#commande-Btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}