@import 'variables';
@import 'mixin';
@import 'animations';


// Partie Destkop
@media screen and (min-width:1280px) {
  #Nav{
      flex-direction: row;
  }


  #Menu #listRestaurant{
    align-items: center;
    flex-direction: initial;
    padding: 15px;
    .Restaurant{
      width: 400px;
    }
  }
}

@media screen {

}


