// Déclaration des pages
@import "variables";
@import "header";
@import "mixin";
@import "btn";
@import "menu";
@import "footer";

@import "menuPage";

// Fonts
@include googleFonts(Roboto);
@include googleFonts(Shrikhand);

// Partie général
html, body{
  margin: 0;
  padding: 0;
}
// Partie fonctionnement

#Fonctionnement{
  font-family: "Shrikhand", sans-serif;
  .Cartouche{
    display: flex;
    align-items: center;
    background-color: $fontColor;
    margin: 35px 15px 35px 15px;
    padding: 8px;
    @include border-radius(15px);
    @include box-shadow(10px 10px 10px 0 $shadowColor);
    &:hover{
      background-color: lighten($primaryColor, 35%);
      .cartouche-I{
        color: $primaryColor;
      }
    }
    .Cartouche-Number{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primaryColor;
      width: 30px;
      height: 30px;
      color: white;
      margin: -1px -1px -1px -20px;
      text-align: center;
      @include border-radius(50%);
    }
    .Cartouche-Select{
      display: flex;
      margin-left: 25px;
      align-items: center;
      font-weight: bold;
      .cartouche-I{
        margin-right: 25px;
      }
    }
  }
}



// Partie Destkop
@media screen and (min-width:1280px) {
  #container{
    max-width: 1500px;
  }
  #Nav{
    display: flex;
    justify-content: space-around;
  }
  #listRestaurant{
    display: flex;
  }
}
