@import url("https://fonts.googleapis.com/css2?family=#[$fonts]");
@import url("https://fonts.googleapis.com/css2?family=#[$fonts]");
header {
  margin: 0;
  padding: 0;
}

#top-header {
  display: flex;
}

#arrowBack {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

#arrowBack a {
  text-decoration: none;
  color: black;
}

#logo {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  padding: 15px;
  width: 40%;
}

#ville {
  background-color: #e2e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #c2bdbd;
  width: 100%;
  margin: 0;
  padding: 0;
}

#ville #ville-description {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
}

#Banner {
  width: 100%;
  height: 100%;
  padding: 30px 0 30px 0;
  text-align: center;
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

#Banner h1 {
  margin: 0;
  padding: 15px;
}

#Banner p {
  margin: 0 15px 0 15px;
  color: #656565;
}

#Banner .btn {
  margin: 25px 0 15px 0;
}

.btn {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 60%;
  padding: 15px;
  border: none;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

#commande-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#Menu {
  background-color: #f3f3f3;
  width: 100%;
}

#Menu h2 {
  margin: 0 35px 0 35px;
  padding: 20px 0 20px 0;
}

#Menu #listRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px 0 25px;
}

#Menu .Restaurant {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  height: 300px;
  width: 100%;
  -moz-box-shadow: 10px 10px 10px 0 #dfdfdf;
  -webkit-box-shadow: 10px 10px 10px 0 #dfdfdf;
  box-shadow: 10px 10px 10px 0 #dfdfdf;
}

#Menu .Restaurant img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: -70px;
}

#Menu .Restaurant .RestaurantCard {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: white;
  top: -80px;
}

#Menu .Restaurant .RestaurantCard .RestaurantCard-Body-Titre {
  margin: 0;
  padding: 10px;
}

#Menu .Restaurant .RestaurantCard .RestaurantCard-Body-Titre h3, #Menu .Restaurant .RestaurantCard .RestaurantCard-Body-Titre p {
  margin: 0;
  padding: 0;
}

#Menu .Restaurant .RestaurantCard .fa-heart {
  font-size: 20px;
}

#Menu .Restaurant .RestaurantCard .fa-heart-like {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: #575555;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

footer #footerLogo {
  font-family: "Shrikhand", sans-serif;
  margin: 0 10px 10px 40px;
  font-size: 18px;
  font-weight: bold;
}

footer ol {
  margin: 0;
}

footer ol li {
  list-style: none;
  padding: 3px;
}

footer ol li i {
  width: 20px;
  margin-right: 5px;
}

#MenuRestaurant {
  margin: 0 0 15px 0;
}

#MenuRestaurant #MenuRestaurant-Img {
  margin: 0;
  height: 300px;
}

#MenuRestaurant #MenuRestaurant-Img img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

#MenuRestaurant #MenuRestaurant-Body {
  -moz-border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0 0;
  border-radius: 25px 25px 0 0;
  background-color: #f3f3f3;
  position: relative;
  top: -50px;
}

#MenuRestaurant #MenuRestaurant-Body #titleRestaurant {
  display: flex;
  font-family: "Shrikhand", sans-serif;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

#MenuRestaurant #MenuRestaurant-Body #titleRestaurant .fa-heart {
  font-size: 25px;
}

#MenuRestaurant #MenuRestaurant-Body #titleRestaurant .unselect:hover {
  color: linear-gradient(#FF79DA, #9356DC);
}

#MenuRestaurant #MenuRestaurant-Body #titleRestaurant .select {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#MenuRestaurant #MenuRestaurant-Body .listMenu {
  margin: 0 0 35px 0;
}

#MenuRestaurant #MenuRestaurant-Body .listMenu .TypeMenu {
  font-family: "Shrikhand", sans-serif;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  width: 10%;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu {
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  -moz-box-shadow: 10px 10px 10px 0 #dfdfdf;
  -webkit-box-shadow: 10px 10px 10px 0 #dfdfdf;
  box-shadow: 10px 10px 10px 0 #dfdfdf;
  margin: 15px 15px 15px 15px;
  display: flex;
  background-color: white;
  padding: 0;
  overflow: hidden;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .ChoixMenu {
  padding: 15px;
  width: 75%;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .ChoixMenu h3, #MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .ChoixMenu p {
  margin: 0;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .ChoixMenu p {
  display: flex;
  justify-content: space-between;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .cartoucheTarif {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .select {
  background: #99E2D0;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  right: -150px;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .select .fa-check-circle {
  color: white;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu:hover .select {
  left: 1%;
  margin: 0;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadingSpinner {
  display: none;
}

@media screen and (min-width: 1280px) {
  #Nav {
    flex-direction: row;
  }

  #Menu #listRestaurant {
    align-items: center;
    flex-direction: initial;
    padding: 15px;
  }

  #Menu #listRestaurant .Restaurant {
    width: 400px;
  }
}
html, body, #container {
  margin: 0;
  padding: 0;
}

#Fonctionnement {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  width: 100%;
}

#Fonctionnement h2 {
  margin: 15px 35px 0 35px;
}

#Fonctionnement #Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0;
  padding: 0;
}

#Fonctionnement #Nav .Cartouche {
  display: flex;
  width: 70%;
  align-items: center;
  background-color: #f3f3f3;
  margin: 10px 35px 10px 35px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 10px 10px 10px 0 #dfdfdf;
  -webkit-box-shadow: 10px 10px 10px 0 #dfdfdf;
  box-shadow: 10px 10px 10px 0 #dfdfdf;
}

#Fonctionnement #Nav .Cartouche:hover {
  background-color: #f2eafb;
}

#Fonctionnement #Nav .Cartouche:hover .cartouche-I {
  color: #9356DC;
}

#Fonctionnement #Nav .Cartouche .Cartouche-Number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  color: white;
  margin: -1px -1px -1px -10px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#Fonctionnement #Nav .Cartouche .Cartouche-Select {
  display: flex;
  margin-left: 25px;
  align-items: center;
  font-weight: bold;
}

#Fonctionnement #Nav .Cartouche .Cartouche-Select .cartouche-I {
  margin-right: 25px;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
