@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
header {
  margin: 0;
  padding: 0;
}

#top-header {
  display: flex;
}

#arrowBack {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

#arrowBack a {
  text-decoration: none;
  color: black;
}

#logo {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  padding: 15px;
  width: 40%;
}

#logo h1 {
  display: none;
}

#ville {
  background-color: #e2e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #c2bdbd;
  width: 100%;
  margin: 0;
  padding: 0;
}

#ville #ville-description {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
}

#Banner {
  width: 100%;
  height: 100%;
  padding: 30px 0 30px 0;
  text-align: center;
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

#Banner h2 {
  margin: 0 18px 0 18px;
  padding: 18px;
}

#Banner p {
  margin: 0 18px 0 18px;
  color: #656565;
}

#Banner .btn {
  margin: 25px 0 15px 0;
}

footer {
  background-color: #575555;
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 25px 0 25px 0;
}

footer #footerLogo {
  font-family: "Shrikhand", sans-serif;
  margin: 0 10px 10px 40px;
  font-size: 18px;
}

footer ol {
  margin: 0;
}

footer ol li {
  list-style: none;
  padding: 3px;
}

footer ol li i {
  width: 20px;
  margin-right: 5px;
}

.btn {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  width: 60%;
  padding: 15px;
  border: none;
  cursor: pointer;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.btn:hover {
  opacity: 0.9;
  -moz-box-shadow: 5px 1px 5px 1px #dfdfdf;
  -webkit-box-shadow: 5px 1px 5px 1px #dfdfdf;
  box-shadow: 5px 1px 5px 1px #dfdfdf;
}

#commande-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#loadingSpinner {
  display: none;
}

@keyframes transitionMenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.fa-heart {
  font-size: 25px;
  color: #ececec;
  text-shadow: black 1px 0, black -1px 0, black 0 1px, black 0 -1px;
  -webkit-transition: background-color 1s ease-in, color ease-out 1s;
  transition: background-color 1s ease-in, color ease-out 1s;
}

.fa-heart:hover {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(70%), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc, 70%, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-shadow: none;
}

.card1 {
  animation: transitionMenu ease-in-out 1s;
}

.card2 {
  transition-delay: 2s;
  animation: transitionMenu ease-in-out 1s;
}

.card3 {
  transition-delay: 4s;
  animation: transitionMenu ease-in-out 1s;
}

#Fonctionnement {
  margin: 0;
  width: 100%;
}

#Fonctionnement h2 {
  margin: 15px 35px 0 35px;
}

#Fonctionnement #Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0;
  padding: 0;
}

#Fonctionnement #Nav .Cartouche {
  display: flex;
  height: 60px;
  width: 75%;
  align-items: center;
  background-color: #f3f3f3;
  margin: 10px 35px 10px 35px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 10px 10px 10px 0 #dfdfdf;
  -webkit-box-shadow: 10px 10px 10px 0 #dfdfdf;
  box-shadow: 10px 10px 10px 0 #dfdfdf;
}

#Fonctionnement #Nav .Cartouche:hover {
  background-color: #f2eafb;
}

#Fonctionnement #Nav .Cartouche:hover .cartouche-I {
  color: #9356DC;
}

#Fonctionnement #Nav .Cartouche .Cartouche-Number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  color: white;
  margin: -1px -1px -1px -10px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#Fonctionnement #Nav .Cartouche .Cartouche-Select {
  display: flex;
  margin-left: 25px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

#Fonctionnement #Nav .Cartouche .Cartouche-Select .cartouche-I {
  margin-right: 25px;
}

#Menu {
  background-color: #f3f3f3;
  width: 100%;
}

#Menu h2 {
  margin: 50px 35px 0 35px;
  padding: 35px 0 20px 0;
}

#Menu #listRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px 0 25px;
}

#Menu .Restaurant {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  height: 300px;
  width: 100%;
  -moz-box-shadow: 10px 10px 10px 0 #dfdfdf;
  -webkit-box-shadow: 10px 10px 10px 0 #dfdfdf;
  box-shadow: 10px 10px 10px 0 #dfdfdf;
}

#Menu .Restaurant a {
  position: relative;
  text-decoration: none;
}

#Menu .Restaurant a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: -70px;
}

#Menu .Restaurant a .new {
  position: absolute;
  background-color: #99e2d0;
  top: -270px;
  right: 15px;
}

#Menu .Restaurant a .new p {
  padding: 5px 10px 5px 10px;
  margin: 0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

#Menu .Restaurant .RestaurantCard {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: white;
  top: -80px;
}

#Menu .Restaurant .RestaurantCard .RestaurantCard-Body-Titre {
  margin: 0;
  padding: 10px;
}

#Menu .Restaurant .RestaurantCard .RestaurantCard-Body-Titre h3, #Menu .Restaurant .RestaurantCard .RestaurantCard-Body-Titre p {
  margin: 0;
  padding: 0;
}

#Menu .Restaurant .RestaurantCard .RestaurantCard-Body-Titre p {
  color: #656565;
  font-size: 16px;
}

@keyframes transitionMenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.fa-heart {
  font-size: 25px;
  color: #ececec;
  text-shadow: black 1px 0, black -1px 0, black 0 1px, black 0 -1px;
  -webkit-transition: background-color 1s ease-in, color ease-out 1s;
  transition: background-color 1s ease-in, color ease-out 1s;
}

.fa-heart:hover {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(70%), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc, 70%, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-shadow: none;
}

.card1 {
  animation: transitionMenu ease-in-out 1s;
}

.card2 {
  transition-delay: 2s;
  animation: transitionMenu ease-in-out 1s;
}

.card3 {
  transition-delay: 4s;
  animation: transitionMenu ease-in-out 1s;
}

#MenuRestaurant {
  background-color: #f3f3f3;
}

#MenuRestaurant #MenuRestaurant-Img {
  margin: 0;
  height: 300px;
}

#MenuRestaurant #MenuRestaurant-Img img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

#MenuRestaurant #MenuRestaurant-Body {
  -moz-border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0 0;
  border-radius: 25px 25px 0 0;
  background-color: #f3f3f3;
  position: relative;
  top: -50px;
}

#MenuRestaurant #MenuRestaurant-Body #titleRestaurant {
  display: flex;
  font-family: "Shrikhand", sans-serif;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

#MenuRestaurant #MenuRestaurant-Body #titleRestaurant .titleRestaurant-like:hover {
  cursor: pointer;
}

#MenuRestaurant #MenuRestaurant-Body #titleRestaurant .titleRestaurant-like:hover .unselect {
  display: none;
}

#MenuRestaurant #MenuRestaurant-Body #titleRestaurant .titleRestaurant-like:hover .select {
  display: block;
}

#MenuRestaurant #MenuRestaurant-Body .listMenu {
  margin: 0 0 35px 0;
}

#MenuRestaurant #MenuRestaurant-Body .listMenu .TypeMenu {
  font-family: "Roboto", sans-serif;
  color: #656565;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  width: 10%;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu {
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  -moz-box-shadow: 10px 10px 10px 0 #dfdfdf;
  -webkit-box-shadow: 10px 10px 10px 0 #dfdfdf;
  box-shadow: 10px 10px 10px 0 #dfdfdf;
  margin: 15px 15px 15px 15px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .ChoixMenu {
  padding: 15px;
  width: 75%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .ChoixMenu h3, #MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .ChoixMenu p {
  margin: 0;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .ChoixMenu p {
  display: flex;
  justify-content: space-between;
  color: #656565;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .cartoucheTarif {
  width: 15%;
  display: flex;
  align-self: flex-end;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .select {
  background: #99E2D0;
  margin: 0;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  transition-duration: 0.4s;
  transform: translateX(360px);
  position: absolute;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu .select .fa-check-circle {
  color: white;
  font-size: 20px;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu:hover .select {
  left: 1%;
  margin: 0;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#MenuRestaurant #MenuRestaurant-Body .cartoucheMenu:hover .select .fa-check-circle {
  transition-duration: 0.3s;
  transition-delay: 0.1ms;
  transform: rotate(360deg);
}

@keyframes transitionMenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.fa-heart {
  font-size: 25px;
  color: #ececec;
  text-shadow: black 1px 0, black -1px 0, black 0 1px, black 0 -1px;
  -webkit-transition: background-color 1s ease-in, color ease-out 1s;
  transition: background-color 1s ease-in, color ease-out 1s;
}

.fa-heart:hover {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(70%), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc, 70%, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-shadow: none;
}

.card1 {
  animation: transitionMenu ease-in-out 1s;
}

.card2 {
  transition-delay: 2s;
  animation: transitionMenu ease-in-out 1s;
}

.card3 {
  transition-delay: 4s;
  animation: transitionMenu ease-in-out 1s;
}

@media screen and (min-width: 1024px) {
  #logo img {
    width: 20%;
  }

  #Fonctionnement #Nav {
    flex-direction: row !important;
  }

  #Menu #listRestaurant {
    align-items: center;
    justify-content: space-around;
    flex-direction: initial;
    flex-wrap: wrap;
    padding: 15px;
  }

  #Menu #listRestaurant .Restaurant {
    width: 400px;
  }

  .containerMenu {
    display: flex;
    justify-content: space-between;
  }

  .containerMenu .listMenu {
    width: 30%;
  }
}
html, body, #container {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
