// Scss header
@import "../Utils/variables";
@import "../Utils/mixin";

header{
  margin: 0;
  padding: 0;
}

#top-header{
  display: flex;
}
#arrowBack{
  display: flex;
  align-items: center;
  margin-left: 15px;
  a {
    text-decoration: none;
    color: black;
  }
}

#logo{
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    padding: 15px;
    width: 40%;
  }
  h1{
    display: none;
  }
}
#ville{
  background-color: $cityColor;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #c2bdbd;
  width: 100%;
  margin: 0;
  padding: 0;
  #ville-description{
    margin: 15px;
    width: 100px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    border: none;
    background: none;
  }
}

#Banner{
  width: 100%;
  height: 100%;
  padding: 30px 0 30px 0;
  text-align: center;
  background-color: $fontColor;
  font-family: "Roboto", sans-serif;
  h2{
    margin: 0 18px 0 18px;
    padding: 18px;
  }
  p{
    margin: 0 18px 0 18px;
    color: $silverColor;
  }
  .btn{
    margin: 25px 0 15px 0;
  }
}
