//Scss pour les du menu en index
@import "../Utils/variables";
@import "../Utils/mixin";
@import "../Components/animations";

#Fonctionnement{
  margin: 0;
  width: 100%;
  h2{
    margin: 15px 35px 0 35px;
  }
  #Nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 0;
    .Cartouche{
      display: flex;
      height: 60px;
      width: 75%;
      align-items: center;
      background-color: $fontColor;
      margin: 10px 35px 10px 35px;
      @include border-radius(15px);
      @include box-shadow(10px 10px 10px 0 $shadowColor);
      &:hover{
        background-color: lighten($primaryColor, 35%);
        .cartouche-I{
          color: $primaryColor;
        }
      }
      .Cartouche-Number{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primaryColor;
        width: 30px;
        height: 30px;
        color: white;
        margin: -1px -1px -1px -10px;
        text-align: center;
        @include border-radius(50%);
      }
      .Cartouche-Select{
        display: flex;
        margin-left: 25px;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        .cartouche-I{
          margin-right: 25px;
        }
      }
    }
  }

}


#Menu{
  background-color: $fontColor;
  width: 100%;
  h2{
    margin: 50px 35px 0 35px;
    padding: 35px 0 20px 0;
  }
  #listRestaurant{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px 0 25px;
  }
  .Restaurant{
    @include border-radius(15px);
    background-color: white;
    overflow: hidden;
    height: 300px;
    width: 100%;
    @include box-shadow(10px 10px 10px 0 $shadowColor);
      a{
        position: relative;
        text-decoration: none;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          top: -70px;
        }
        .new{
          position: absolute;
          background-color: #99e2d0;
          top: -270px;
          right: 15px;
          p{
            padding: 5px 10px 5px 10px;
            margin: 0;
            color: #008766;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
          }
        }
      }

    .RestaurantCard{
      margin: 0;
      padding: 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      position: relative;
      background-color: white;
      top: -80px;
      .RestaurantCard-Body-Titre{
        margin: 0;
        padding: 10px;
        h3,p{
          margin: 0;
          padding: 0;
        }
        p{
          color: $silverColor;
          font-size: 16px;
        }
      }
    }
  }
}

