@import '../Utils/variables';
@import '../Utils/mixin';
@import '../Components/animations';


// Partie Destkop
@media screen and (min-width:1024px) {

  // Partie header
  #logo img{
    width: 20%;
  }
  #arrowBack{
    display: none;
  }
  // partie page index
  #Fonctionnement #Nav{
      flex-direction: row !important;
  }
  #Menu #listRestaurant{
    align-items: center;
    justify-content: space-around;
    flex-direction: initial;
    flex-wrap: wrap;
    padding: 15px;
    .Restaurant{
      width: 400px;
    }
  }


  // Partie page menu
  .containerMenu{
    display: flex;
    justify-content: space-between;

    .listMenu{
      width: 30%;
    }
  }
}



